@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* body {
    background-color: #0E0E1A;
    font-family: 'Poppins', sans-serif;
} */

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login__page .login__form .login-form-button {
    width: 40%;
    background-color: #0856CD;
}

.login__page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: #83BCFF 0px 0px 15px 0px;
}

.login__page .image .title {
    position: absolute;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.login__page .image .title h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.login__page .image .title h4 {
    letter-spacing: 1.5px;
}

.login__page .login__form {
    width: 350px;
    margin-top: 30px;
}

label {
    color: white;
}


.login__page .login__form h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 10px;
}

.login__page .login__form .rememberME {
    color: white;
}

.login__page .login__form a {
    color: white;
}

.login__page .login__form .form__submission {
    text-align: center;
    color: white;
}

.login__page .login__form .form__submission .google__login {
    margin-top: 50px;
    letter-spacing: 1px;
}

.login__page .image {
    width: 400px;
}

@media screen and (max-width: 1024px) {
    .login__page {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        height: 100vh;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }

    .login__page .image {
        display: none;
    }

    .login__page .login__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login__page .login__form h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .login__page .login__form .login-form-button {
        width: 100%;
    }
}