@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.table {
    width: 90%;
    border-collapse: collapse;
    margin: 50px auto;
    background-color: transparent;
}


.table .ant-table thead th {
    background-color: #01101b;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-color: #cccccc;
    padding: 10px;
    font-family: 'Poppins';
}

.table .ant-table table {
    background-color: transparent;
}

.table .ant-table tbody td {
    background: linear-gradient(180deg, #000000 0%, #000000 100%);
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins';
    font-size: 13px;
    padding: 20px 10px;
}


.table .ant-table tbody td:hover {
    background-color: #ca0d0d;
}


.table .ant-pagination-item a {
    color: #000;
}

.table .ant-pagination-prev .ant-pagination-item-link,
.table .ant-pagination-next .ant-pagination-item-link {
    color: #ffffff;
}


.anticon {
    color: white;
    font-size: 18px;
    padding: 5px;
}

.search-icon {
    color: white;
    font-size: 30px;
    padding: 5px;
}


.hover-row:hover .ant-table-cell:hover {
    background-color: #1b1b1b00 !important;
}

.ant-table-filter-dropdown-btns .ant-btn-primary {
    background-color: #011c3f;
    color: rgb(0, 0, 0);
}

.ant-table-row-level-0 {
    background-color: transparent !important;
}

.ant-table-row-level-0 :hover {
    background-color: transparent !important;
}

.ant-table-row:hover {
    background-color: transparent !important;
}

.ant-table-body {
    background-color: transparent !important;
}

.amt-table-content {
    background-color: transparent !important;
}