.top-header {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1rem 2rem;
    background-color: #151528;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.top-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}


.one-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #151528;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* .schedule{
    height: 50vh;
    overflow-y: scroll !important;
    margin: 20px 0;
} */

.right-side .one-guest-user img {
    width:55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.right-side .one-guest-user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #151528;
    padding: 7px;
    justify-content: space-around;
    border-radius: 0.5rem;
}

.right-side .one-guest-user .accept {
    background-color: #151528;
    border: 1px solid #fff;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: #01ff1e;
    cursor: pointer;
    font-weight: 600;
    margin-right: 0.7rem;
    font-size: 1rem;
}

.right-side .one-guest-user .reject {
    background-color: #151528;
    border: 1px solid #fff;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: #ff0000;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}


.dashboard-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2rem;
}

.room {
    background-color: #1f1a4089;
    padding: 14px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.place-sets {
    background-color: #151528;
    padding: 10px;
    border-radius: 0.5rem;
    height: 52vh;
    overflow-y: scroll !important;
}

.place-sets .one-place {
    border-radius: 0.5rem;
    background-color: #151528;
    margin-bottom: 25px;
}