/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #83BCFF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* Ant switch styles */
.ant-switch-inner {
    background: rgb(39, 39, 39);
    background: radial-gradient(circle, rgb(41, 41, 41) 0%, rgb(0, 0, 0) 100%);
}

.ant-switch-checked .ant-switch-inner {
    background: rgb(237, 186, 255);
    background: linear-gradient(rgb(127, 116, 253) 0%, rgb(48, 140, 245) 100%);
    color: black !important;
}

.ant-switch-handle::before {
    background: rgba(131, 188, 255, 1);
}

.ant-switch-handle::after {
    color: rgba(131, 188, 255, 1);
}





